<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do list</title>
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
